.favorite-vacancy-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1116px;
  height: 100%;
  max-height: 815px;
  margin: 0 auto;
  padding-top: 40px;
  .vacancy-list__wrapper {
    width: 100%;
    max-width: 773px;
    height: 596px;
    margin-bottom: 64px;
    overflow-x: hidden;
    overflow-y: auto;
    .main-page_vacancy-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 0px;
      gap: 16px;
    }
  }
}
.vacancy-list__wrapper::-webkit-scrollbar {
  width: 0px;
}
.vacancy-list__wrapper:hover::-webkit-scrollbar {
  width: 5px;
}
.vacancy-list__wrapper::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: transparent;
  border-radius: 12px;
}

.vacancy-list__wrapper:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 1px 5px #5E96FC;
  border: 1px solid #5E96FC;
}

@media (max-width: 1130px) and (min-width: 823px) {
  .favorite-vacancy-page-container {
    max-width: 813px;
    .vacancy-list__wrapper {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .main-page_vacancy-list{
        width: 100%;
      }
    }
  }
}

@media (max-width: 822px) and (min-width: 315px) {
  .favorite-vacancy-page-container {
    width: 95%;
    max-width: 813px;
       .vacancy-list__wrapper {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 596px;
  
        .main-page_vacancy-list {
          width: 100%;
        }
      }
      
    }
  }