.filter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 315px;
  height: 360px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
}

.filter-form_title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 275px;
  height: 20px;
  margin-bottom: 22px;

  .filter-form_reset-button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 115px;
    height: 20px;

    .filter-form_title {
      width: 93px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #232134;
    }

    .filter-form_reset-button_label {
      width: 95px;
      height: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      color: #ACADB9;
      cursor: pointer;
      &:hover {
        color: #5E96FC;
      }
      &:active {
        color: #3B7CD3;
      }
    }
  }
}


.filter-form_input-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  width: 100%;
  max-width: 275px;

  .filter-form_select-industry,
  .filter-form_payment_input {
    padding: 8px 12px;
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 8px;
    align-self: stretch;
    &:focus {
      outline: 1px solid #5E96FC;
    }
  }

  #payment_from,
  .filter-form_select-industry {
    margin-bottom: 20px;
  }

  .filter-form_payment_input:last-child {
    margin-bottom: 10px;
  }

  .filter-form_title {
    width: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #232134;
    margin-bottom: 10px;
  }
}

.filter-form__filter-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #5E96FC;
  padding: 4px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background: #92C1FF;
  }
  &:active {
    background: #3B7CD3;
  }
  &:disabled,
  &:disabled:hover {
    background: #ACADB9;
    cursor: default;
  }
}

.filter-form_select-industry {
    padding: 8px 12px;
    width: 100%;
    max-width: 275px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 8px;
    align-self: stretch;
    
    &:focus {
      outline: 1px solid #5E96FC;
    }

    .select-industry_option {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px, 12px, 8px, 12px;
      gap: 8px;
      width: 267px;
      height: 36px;
      background: #FFFFFF;
      border-radius: 8px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #232134;

      &:disabled {
        visibility: hidden;
        height: 0px;
      }

      &:hover {
        background: #DEECFF;
        cursor: pointer;
      }
    }
  }

.filter-form_select-industry::-webkit-scrollbar {
  width: 0px;
}
.filter-form_select-industry:hover::-webkit-scrollbar {
  width: 4px;
}
.filter-form_select-industry::-webkit-scrollbar-thumb {
  width: 4px;
  height: 24px;
  background-color: transparent;
  border-radius: 20px;
}

.filter-form_select-industry:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 1px 5px #acadb9;
  border: 1px solid #acadb9;
}

@media (max-width: 1130px) and (min-width: 823px) {
  .filter-form {
    width: 100%;
    max-width: 813px;
  }
  .filter-form_title-block {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: .5px solid #7B7C88;
  }
  .filter-form_input-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 75px;

    .filter-form_select-industry,
    .filter-form_payment_input {
      padding: 8px 12px;
      width: 33%;
      margin-top: 25px ;
    }

    label.filter-form_title {
      position: absolute;
      top: 1px;
      margin-bottom: 0px;
      &[for=payment_from]{
        left: 33.5%;
      }
    }

    #payment_from,
    .filter-form_select-industry {
      margin-bottom: 5px;
    }

    .filter-form_payment_input:last-child {
      margin-bottom: 5px;
    }
  }
}
