.add-favorite-vacancy-button {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}
.add-favorite-vacancy-button .star {
  position: relative;
  z-index: 10;
}
.add-favorite-vacancy-button:hover .star {
  z-index: 10;
  fill:#5E96FC
}