.message_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px auto 329.73px auto;
  gap: 32px;
  width: 327px;
  height: 366.27px;

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #343A40;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .back-to-vacancy_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    width: 164px;
    height: 42px;
    background: #DEECFF;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    text-decoration: none;
    .back-to-vacancy_button__title {
      width: 116px;
      height: 22px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 155%;
      color: #3B7CD3;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
}

