.main-page_container {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 39px;

  .main-page_form-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 315px;
    height: 360px;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 12px;
  }

  .main-page_vacancy-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 69.265%;
    max-width: 773px;
    min-height: 776px;
    border-radius: 12px;

    .vacancy-list__wrapper {
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      height: 596px;

      .main-page_vacancy-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 0px;
        gap: 16px;
      }
    }
    
  }
}

.vacancy-list__wrapper::-webkit-scrollbar {
  width: 0px;
}
.vacancy-list__wrapper:hover::-webkit-scrollbar {
  width: 5px;
}
.vacancy-list__wrapper::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: transparent;
  border-radius: 12px;
}

.vacancy-list__wrapper:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 1px 5px #5E96FC;
  border: 1px solid #5E96FC;
}