.main-page_search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 12px;
  width: 100%;
  max-width: 773px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  margin-bottom: 16px;

  .main-page_search-form__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    gap: 8px;
    width: 88.05%;
    min-width: 216px;
    height: 21px;
    margin-left: -16px;
    &:focus {
      outline: 1px solid #5E96FC;
    }
  }

  .search-form-input-glass {
    position: relative;
    z-index: 100;
  }

  .main-page_search-form__submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    margin-left: 5px;
    width: 83px;
    height: 32px;
    background: #5E96FC;
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
      background: #92C1FF;
    }
    &:active {
      background: #3B7CD3;
    }
    &:disabled,
    &:disabled:hover {
      background: #ACADB9;
      cursor: default;
    }
  }
}



