@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@100;400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto+Mono:wght@100;400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
:root {
  --header-height: 85px;
  --page-height: 852px;
}
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  background: #F5F5F5;
}
.page {
  width: 100vw;
  height: var(--page-height);
  background: #F5F5F5;
}
.container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1116px;
  height: 100%;
  margin: 0 auto;
}
