.header_navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  position: absolute;
  width: 275px;
  height: 20px;
  left: calc(50% - 275px/2 + 0.5px);
  top: 32px;
  .header_navbar_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232134;
    text-decoration: none;
    
    &:active,
    &:hover {
      font-weight: 500;
      color: #5E96FC;
    }
  }
  .header_navbar_link__active {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #5E96FC;
    text-decoration: none;
  }
}